.newComment {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.newComment__title {
   font-weight: 400;
   font-size: 20px;
}

.newComment__textarea {
   width: 300px;
   height: 100px;
   background: black;
   border-radius: 16px;
   color: white;
   padding: 10px;
   font-size: 16px;
   font-family: "Roboto";
   font-weight: 300;
   margin: 10px;
   border: 1px solid #333639;
}

.newComment__submit-btn {
   margin: 10px 0;
   padding: 10px 45px;
   border-radius: 35px;
   background-color: black;
   color: white;
   border: 1px solid white;
   cursor: pointer;
}

.comment__container {
   background: #090909;
   padding: 20px;
   border-radius: 8px;
   margin: 10px 0;
}

.comment__name {
   color: #afafaf;
   font-weight: 500;
   font-size: 16px;
}

.comment__content {
   padding: 10px 20px 0 20px;
   font-size: 16px;
   font-weight: 300;
}
